<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Population Pyramids</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body bgcolor="black">
  <div class="w3-center w3-padding">
    <H1><font color='lightblue'>ViralML</font> <font color='white'>Population</font> <font color='pink'>Pyramids</font></H1>

    <FORM id='submit_content' method="POST" action="{{ url_for('build_pyramid') }}">

    <SELECT class="selectpicker" name="selected_country">
        <option value="{{selected_country}}" selected>{{selected_country}}</option>
       {% for country in location_list %}
       <option value ={{country}}>{{country}}</option>
       {% endfor %}
    </SELECT>


    <SELECT class="selectpicker" name="selected_year" >
        <option value="{{selected_year}}" selected>{{selected_year}}</option>
        
        {% for year in range(1950,2100,10) %}
        <option value ={{year}}>{{year}}</option>
        {% endfor %}
        
    </SELECT>
    <button type="submit" form="submit_content" value="Submit">Build</button>
  </FORM>
</div>

{{plot_to_show}}

  

</body>

</html>